/* index.css */
* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
   background-color: lightblue; /* Alice Blue */

}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border: 1px solid
}
.body-container{
    padding:25px;
}
.links{
    display: flex;
    color: #6A5ACD;
    FONT-SIZE :15px;
    
}
.links h1{
    margin: 15px;
}
.logo{
    display:flex;
    justify-content: center; 

}
.logo h1{
    color: #6A5ACD;
    margin-top : 25px;
}

.logo img {
    width : 100px;
    height: 100px;
    padding-right:22px;
}

.card-container{
    display:flex;
    flex-wrap:wrap;
    margin-top:10px;
    gap:10px;
    
}
.card{
    width:200px;
    
    border-radius:10px;
    box-shadowo:0 4px 8px rgba(0,0,0,0.15);
    background:white;
    overflow:hidden;  
}
.card img{
    padding:2px;
    height:100px;
    width:100%;
    object-fit:cover;
}
.card ul{
    list-style-type:none;
    padding : 0;
    margin : 0 ;
    
}
.links h1{
    cursor:pointer
}
.links button{
    text: center;
    width:50px;
    height:50px;
    margin-top:20px;
    cursor:pointer
}
.Search-box button{
    margin-left: 10px;
    
}